---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Náš Projekt",
    description:
      "Posielame E-mail firmám a súkromným osobám ktorých stránka nespĺňa moderné podmienky designu, rýchlosti a prehľadnosti.",
    icon: "mdi:handshake",
  },
  //{
   // title: "100% Static HTML, No JS",
   // description:
   //   "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
   // icon: "mdi:feather",
  //},
 // {
   // title: "On-Demand Components",
   // description:
   //   "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page. If the user never sees it, they never load it.",
  //  icon: "mdi:directions-fork",
 // },
  {
    title: "Spájame firmy",
    description:
      "Pomáhame spájať dodávateľov s odberateľmi",
    icon: "mdi:graph",
  },
  //{
  //  title: "SEO Enabled",
  //  description:
  //    "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication.",
  //  icon: "mdi:search-web",
 // },
  {
    title: "Budujeme komunitu",
    description:
      "Ak nám zveríte vašu stránku, môžte ju kedykoľvek dopľniť alebo zmeňiť. Taktiež ak si to budete žeľať, naši ostatní zákazníci budú upozornení o vašich produktoch/ servise. PREPISAT",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Naše Plány" id="features">
  <Fragment slot="lead">
   Štandardná cena je <span class="text-primary">550 eur</span>.
    Ak ste dostali email tak ste súčasťou nášho <span class=" text-purple-500">Projektu</span> a cena pre vás je <span class="text-primary">300-400 eur</span>
    
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center text-purple-500">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
