---
import { Icon } from "astro-icon";

const links = [
  {
    url: "https://docs.google.com/forms/d/e/1FAIpQLSdrAxF_tUWsj50mdESsnW2FprG2S3OZn67SpiJwVreEiKj7bQ/viewform?usp=sf_link",
    description: "Kritika",
    icon: "mdi:comment-text",
  }
];
---

<footer class="bg-black relative flex items-center justify-center h-64">
  <div class=" mr-20 text-white "> E-mail: webrepairsk@gmail.com </div> 
  <ul class="relative grid grid-cols-1 gap-4 sm:gap-10 sm:grid-cols-2">
    {
      links.map((link) => (
        <li>
          <a
            class="flex bg-white items-center justify-center w-16 h-16 p-4 border-2 border-current rounded-full"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
          <div class=" text-white opacity-80 flex justify-center"> {link.description} </div>
        </li>
      ))
    }
    
  </ul>
</footer>
