---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import sites from "~/data/showcase/sites.json";
---

<ContentSection title="WebRepair Projekty" id="showcase">
  <Fragment slot="lead">
    
     <div class=" text-lg"> Náš cieľ je pravé Programmovanie <span class="text-primary"> rýchlych, bezpečných a prehľadných stránok </span>.{" "} </div> 
     <div class=" text-lg"> <span class="text-primary">Design </span> môžte posúdiť sami počas celého procesu výroby. </div> 
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        sites.map(({ title, image, url }) => (
          <ShowcaseCard title={title} image={image} url={url} />
        ))
      }
    </div>
    
  </div>
</ContentSection>
